    body {
      margin: 0;
      height: 100vh;
      background: linear-gradient(rgba(57, 124, 74, 0.5), rgba(199, 176, 101, 0.5)), 
                  url('https://i0.wp.com/sourcegaming.info/wp-content/uploads/2023/02/Tropius-Pokemon-Trading-Card-Game-Kagemaru-Himeno-art.png?resize=500%2C311') no-repeat center center / cover;
      font-family: Arial, sans-serif;
    }
   h1 {
       color: rgb(255, 255, 255);
       margin-left: 40px;
      text-align: center;  }
p {
    text-align: center;
}

img {
    display: block; 
    margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto; 
  background-color: rgb(8, 119, 32);
  padding: 5px;
  gap: 5px; 
}

.container div {
  background-color: #d1df92;
  color:#063b2a;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item-content {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
}
