    body {
      margin: 0;
      height: 100vh;
      /* Combine background image with gradient */
      background: linear-gradient(rgba(57, 124, 74, 0.5), rgba(199, 176, 101, 0.5)), 
                  url('https://tcgplayer-cdn.tcgplayer.com/product/497598_in_1000x1000.jpg') no-repeat center center / cover;
      font-family: Arial, sans-serif;
    }
 
 
 body {
       background-color: rgb(192, 199, 130);
       
   }
   h1 {
       color: darkgreen;
       margin-left: 40px;
      text-align: center;  }
p {
    text-align: center;
}

img {
    display: block; 
    margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;  
  background-color: rgb(8, 119, 32);
  padding: 5px;
  gap: 5px;  
}
.container div {
  background-color: #a3e638;
  color:#000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

