   body {
       background-color: lightgreen;
       font-family: Arial, sans-serif;
   }
   h1 {
       color: darkgreen;
       margin-left: 40px;
      text-align: center;  }
p {
    text-align: center;
}

img {
    display: block; 
    margin: 0 auto;
}

