body {
  background-color: lightblue;
}
h1 {
  color: navy;
  margin-left: 20px;

}

h1 {
    color: navy;
    margin-left: 20px;
    text-align: center; /* Added to center the H1 text */
}

